In [10]:
# Step 0. Import libraries and custom modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# Step 1. Load data, show info and sample
# 1.1 Read data
df_raw = pd.read_excel(
   'https://github.com/datagy/mediumdata/raw/master/sample_pivot.xlsx', 
   parse_dates=['Date']
)
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   datetime64[ns]
 1   Region  1000 non-null   object
 2   Type    1000 non-null   object
 3   Units   911 non-null    float64
 4   Sales   1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 39.2+ KB

In [12]:
# 1.2 Show sample
df_raw.sample(5, random_state=1234)

          Date Region                 Type  Units  Sales
681 2020-11-27   East  Children's Clothing   32.0    342
990 2020-12-17  North  Children's Clothing    7.0    217
155 2020-06-13   East  Children's Clothing   30.0    336
768 2020-06-25  North     Women's Clothing    5.0    644
438 2020-10-07  North     Women's Clothing   30.0    462

In [13]:
# Step 2. Transform to standard format
# 2.1 Create a pandas chain to convert to final form
df = (
    df_raw
    .copy()
    .set_axis(
        df_raw
        .columns.str.lower()
        .str.replace(' ','_')
        .str.replace(r'\W','',regex=True)
        .str.slice(0,40), axis=1
    )
    .astype({'region':'category', 
             'type':'category'})
    .assign(
        date = lambda x: pd.to_datetime(x['date'], format='%Y-%m-%d')
    )
    .set_index('date')
)

In [43]:
# Step 3. Perform business analysis
# 3.1 Get the summary, for categorical and numerical columns
cat = df.describe(include=['category']).T
num = df.describe().T
cat

       count unique               top freq
region  1000      4              East  411
type    1000      3  Women's Clothing  424

In [44]:
num

        count        mean         std   min    25%    50%    75%     max
units   911.0   19.638858    9.471309   3.0   12.0   20.0   28.0    35.0
sales  1000.0  427.254000  253.441362  33.0  224.0  380.0  575.0  1155.0

In [28]:
# 3.2 Get the sum of total sales
total_sales = df['sales'].sum()
print(f'The total sales are: {total_sales}')

The total sales are: 427254

In [29]:
# 3.3 Get the average of sales
avg_sales = df['sales'].mean()
print(f'the average of sales is:{avg_sales}')

the average of sales is:427.254

In [58]:
# 3.4 Get the sum of sales by region
north = df[df['region'] == 'North']
sales_north = north['sales'].sum()

south = df[df['region'] == 'South']
sales_south = south['sales'].sum()

east = df[df['region'] == 'East']
sales_east = east['sales'].sum()

west = df[df['region'] == 'West']
sales_west = west['sales'].sum()

print(f'The sum of sales in the north is {sales_north}')
print(f'The sum of sales in the south is {sales_south}')
print(f'The sum of sales in the east is {sales_east}')
print(f'The sum of sales in the west is {sales_west}')

The sum of sales in the north is 138700
The sum of sales in the south is 59315
The sum of sales in the east is 167763
The sum of sales in the west is 61476

In [62]:
# 3.4 Get the average sales by region

avg_north = north['sales'].mean()
avg_south = south['sales'].mean()
avg_east = east['sales'].mean()
avg_west = west['sales'].mean()

print(f'The average sale in the north is {avg_north}')
print(f'The average sale in the south is {avg_south}')
print(f'The average sale in the east is {avg_east}')
print(f'The average sale in the west is {avg_west}')

The average sale in the north is 438.9240506329114
The average sale in the south is 432.95620437956205
The average sale in the east is 408.1824817518248
The average sale in the west is 452.02941176470586

In [65]:
# 3.5 Get the sum, mean and count of sales by region
count_north = north['sales'].count()
count_south = south['sales'].count()
count_east = east['sales'].count()
count_west = west['sales'].count()

print(f'North sum: {sales_north} Mean: {avg_north} Count:{count_north}')
print(f'South sum: {sales_south} Mean: {avg_south} Count:{count_south}')
print(f'East sum: {sales_east} Mean: {avg_east} Count:{count_east}')
print(f'West sum: {sales_west} Mean: {avg_west} Count:{count_west}')

North sum: 138700 Mean: 438.9240506329114 Count:316
South sum: 59315 Mean: 432.95620437956205 Count:137
East sum: 167763 Mean: 408.1824817518248 Count:411
West sum: 61476 Mean: 452.02941176470586 Count:136

In [67]:
# 3.6 Create a pivot table that gets total units by type
pivot_table = df.pivot_table(values='units', index='type', aggfunc='sum')
pivot_table

/tmp/ipykernel_6035/333138596.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = df.pivot_table(values='units', index='type', aggfunc='sum')

                      units
type
Children's Clothing  5887.0
Men's Clothing       3974.0
Women's Clothing     8030.0

In [68]:
# 3.7 Display the dataset showing only the East region
east_df = df[df['region'] == 'East']
east_df

           region                 type  units  sales
date
2020-07-11   East  Children's Clothing   18.0    306
2020-02-28   East  Children's Clothing   26.0    832
2020-03-25   East     Women's Clothing   29.0    609
2020-11-03   East  Children's Clothing   34.0    374
2020-05-01   East       Men's Clothing   10.0    140
...           ...                  ...    ...    ...
2020-03-20   East       Men's Clothing   14.0    238
2020-06-05   East  Children's Clothing   11.0    220
2020-05-04   East       Men's Clothing    6.0    108
2020-10-18   East     Women's Clothing   19.0    399
2020-02-11   East  Children's Clothing   35.0    735

[411 rows x 4 columns]

In [72]:
# 3.8 Display the dataset showing only the East and West regions
wae_df = df[(df['region'] == 'West') | (df['region'] == 'East')]
wae_df

           region                 type  units  sales
date
2020-07-11   East  Children's Clothing   18.0    306
2020-02-28   East  Children's Clothing   26.0    832
2020-03-19   West     Women's Clothing    3.0     33
2020-03-25   East     Women's Clothing   29.0    609
2020-11-03   East  Children's Clothing   34.0    374
...           ...                  ...    ...    ...
2020-02-08   West       Men's Clothing   32.0    928
2020-05-04   East       Men's Clothing    6.0    108
2020-11-17   West       Men's Clothing   27.0    486
2020-10-18   East     Women's Clothing   19.0    399
2020-02-11   East  Children's Clothing   35.0    735

[547 rows x 4 columns]

In [73]:
# 3.9 Display the dataset showing East sales with units over 30 
east_30 = df[east['sales']>30]
east_30

/tmp/ipykernel_6035/2402846620.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  east_30 = df[east['sales']>30]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [24]:
# 3.10 A data corruption has been detected. Add 1 to all units.

In [25]:
# 3.11 Another issue was detected, in West region add 2 to all units